# Configuration for Flow 01
source:
    - examples/01-standard-flow/src

attributes:
    - ExceptionReason

fields:
    code: Code
    technicalReason: Technical Reason
    businessReason: Business Reason

outputs:
    - examples/01-standard-flow/output/exceptions.json
    - examples/01-standard-flow/output/exceptions.md

allowDirectNew: false
