# Configuration for Flow 01
source:
    - src

attributes:
    - ExceptionReason

fields:
    identifier: Code
    technicalReason: Technical Reason
    businessReason: Business Reason

outputs:
    - output/exceptions.json
    - output/exceptions.yaml
    - output/exceptions.md
    - output/exceptions.csv
    - output/exceptions.tsv
    - output/exceptions.psv
    - output/exceptions.xml
    - output/exceptions.toml

allowDirectNew: false

# Suppress duplicate identifier warnings (optional)
suppressDuplicateIdentifierWarning: false
