# Configuration for Throwpedia

# Sources, relative to the throwpedia path
source:
    - src

# Exception Attributes
attributes:
    - ExceptionReason

# Attribute Fields (optional, defaults to identifier, technicalReason, businessReason)
fields:
    identifier: Identifier
    technicalReason: Technical Reason
    businessReason: Business Reason

# Output files. Remove the ones that you do not need
outputs:
    - ./output/exceptions.json
    - ./output/exceptions.yaml
    - ./output/exceptions.md

# Is throw new Exception() allowed or is only throw MyException::Method() allowed
allowDirectNew: false

# Suppress duplicate identifier warnings (optional)
suppressDuplicateIdentifierWarning: false

