# Configuration for Flow 04 (Custom Fields)
# Sources, relative to the throwpedia path
source:
    - src

# There are three attributes, and each attribute has their own set of fields
attributes:
    CustomReason:
        identifier: Error Code
        severity: Impact Level
        ticket: Tracker ID
    AnotherReason:
        identifier: Quick Code
        note: Simple Note
    AuditReason:
        identifier: Audit Code
        action: Audit Action

outputs:
    - output/exceptions.md
    - output/exceptions.json
    - output/exceptions.mermaid
    - output/exceptions.puml

allowDirectNew: false

# Suppress duplicate identifier warnings (optional)
suppressDuplicateIdentifierWarning: true
