# Configuration for Flow 03 (Mixed)
# Sources, relative to the throwpedia path
source:
    - src

# There is only one attribute
attributes:
    - ExceptionReason

# And it uses these fields
fields:
    identifier: Code
    technicalReason: Technical Reason
    businessReason: Business Reason

outputs:
    - output/exceptions.json
    - output/exceptions.yaml
    - output/exceptions.md
    - output/exceptions.mermaid
    - output/exceptions.puml

allowDirectNew: true

# Suppress duplicate identifier warnings (optional)
suppressDuplicateIdentifierWarning: false
