# Configuration for Flow 02
# Sources, relative to the throwpedia path
source:
    - src

# There is only one attribute
attributes:
    - ExceptionReason

# And it uses these fields
fields:
    identifier: Code
    technicalReason: Technical Reason
    businessReason: Business Reason

outputs:
    - output/exceptions.yaml

# We will allow direct 'throw new Exception()'
allowDirectNew: true

# Suppress duplicate identifier warnings (optional)
suppressDuplicateIdentifierWarning: false
